div#publicationPane {
    padding: 0px 3px 0px 3px; 
}

div#publicationPane ul {
    list-style-type: none;
}

div#publicationPane > ul#mainMenu {
    display: block;
    padding: 0 0 0 0;
    border: 0;
    margin: 2px 0px 0px 5px;
}

div#publicationPane ul#mainMenu > li, div#publicationPane > div {
    background-color: #DDDDDD;
    border: 1px solid gray;
}

div#publicationPane ul#mainMenu > li {
    display: inline;
    padding: 1px 2px 0px 2px;
    border-bottom: 0px;
    margin: 0px 4px 0px 0px;

    cursor: pointer;
    cursor: hand;
    -moz-user-select: none;
}

div#publicationPane > div { 
    padding: 0;
    margin: 0px 2px 0px 2px;
}

.link {
    cursor: hand;
}
