<?xml version="1.0" encoding="utf-8"?>
<widget>
  <widgetname>Widgator</widgetname>
  <description>
    An RDF information gathering tool
  </description>
  <width>790</width>
  <height>650</height>
  <author>
    <name>Chaals turned TimBL's work into a widget</name>
    <link>http://my.opera.com/chaals</link>
  </author>
  <id>
    <host>http://my.opera.com/chaals/</host>
    <name>widgator</name>
    <revised>2006-05-21</revised>
  </id>
</widget>