/*  Some style for the tabulator
*/

body {background-color: white ; font-size: 12; font-family: sans-serif}

.selected {background-color: #8F3}

strong { font-size: 16; color: #333 }
table table {background-color: white}

table table table { background-color: #eee }
table table table table { background-color: white }
table table table table table
     { background-color: #eee }
table table table table table table
     { background-color: white}

iframe { background: white }

img.pic { max-height: 20em }

.fetched { background-color: #eeffee }
.requested { background-color: yellow }
.failed { color: red; background-color: white }
.unparseable { background-color: #ffcc00; }

pre#status { font-size: 10pt }

table#sources { background-color: #222 }


table { border-spacing: 0}

table { margin: 0.5em }

td {    font-size: 12;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin: 1px;
/*  border-right: solid purple 1px ;
    border-bottom: solid purple 1px;
*/
    vertical-align: top }

table.results { width: 100% }

table.results td {  font-size: 12;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin: 1px;
    border-right: solid #777 1px ;
    border-bottom: solid #777 1px;

    vertical-align: top }


table.results th {  font-size: 12;
    background-color: #ddf; 
    border-left: none;
    border-top: none;
    border-right: solid #777 1px;
    border-bottom: solid #777 1px;
    margin: 3px;
    padding-top: 0.5em; padding-right: 0.5em;
    border-right: solid #777 1px ;
    border-bottom: solid #777 1px;

    vertical-align: top }

/* Hide sections of the display.
Collpase not actually in CSS1 except for table row and col.
Supposed to leave layoutunchanged. So we float it too. */
.collapse { display: none }
.expand { display: block }

/* log classes */
.nrml { color: black; }
.info { color: black; }
.warn { color: black; background-color: yellow; }
.eror { color: white; background-color: red; }
.mesg { color: green; }
.dbug { color: gray; }

/* Try to get the icons to flush right in the cell */
.sortheader {color: black; text-decoration: none }
.colclose { float: right; color: #aaa } /* Should be 67% transp black */
.sortarrow {float: right; color: #aaa }

.sourceHighlight {background-color: yellow; }

