#tabulator-view-metadata[metadata]{
  list-style-image: url("chrome://tabulator/content/icons/sw-cube.png");
  /*the background is write and not good, hopefully we can use svg in the future*/
  width: 18px;
  height: 18px;
}