.policy {
	border: 3px groove red;
}
.policy .forget {
	width: 50em;
	border: medium dashed black;
	padding: .5em;
}
.policy h6 {
	font-variant: small-caps;
	font-weight: bolder;
	font-size: medium;
	margin: 0em;
}
.policy div.input {
	margin: 1em;
	width: 75em;
}
.policy div.input input[type=text]{
	width: 17em;
}
.policy .webIDText {
	width:45em;
}
.policy div.suggest {
	position: absolute;
	background-color: white;
	border: thin solid black;
	overflow: auto;
	background-color: blue;
	width:  17em;
}
.policy div.suggest .selected {
	background-color: green;
}