.ppane{
    font-family: helvetica, arial, sans-serif;
    color: #333;
    background-color: #fff;
    border: #999 solid 1px;
    padding: 1em;
}
.ppane .header-container img{
    float:left;
    max-height: 75px;
    margin-right: 1em;
    margin-bottom: 1em;
}
.ppane .subheader-container{
    min-height: 75px;
}
.ppane .post{
    margin: 0;
    display:block;
}
.ppane .follow{
    display: block;
}
.ppane .update-container, .ppane .createNewMB{
    margin: 1em 0;
    background-color: #fafafa;
    border: solid 1px #ccc;
    margin-bottom: 3em;
    -moz-border-radius: 5px;
    padding: 5px 1em;
}
.ppane textarea{
    width:100%;
}

.ppane .reply{
    float: right;
}
.ppane blockquote{
    margin-left:0;
}
.ppane ul{
    padding: 0px;
}
.ppane input{
    border: solid 1px #333 !important;
}
.ppane input[type=button], .ppane input[type=submit]{
    background-color: #eee;
    padding: 0 .5em;
    border: solid 1px #333;
    -moz-border-radius:.5em;
}

.ppane .post{
    border: solid 1px #888;
    padding:1em;
    margin: .2em 0em;
 
}
.ppane .post div{
    margin: .5em auto;
}

.ppane .createNewMB input[type=text]{
    width:25em;
    
}