<html>
  <head>
    <script src="http://simile.mit.edu/timeline/api/timeline-api.js" type="text/javascript"></script>
    <script src="loadQueryEvents.js" type="text/javascript"></script>
    <script src="../AJAR_cal.js" type="text/javascript"></script>
  </head>
  <body onload="onLoad();" onresize="onResize();">
    <div id="my-timeline" style="height: 500px; border: 1px solid #aaa">
    stuff inside div
<script type="text/javascript">


// testing
function onLoad() {
  var today = new Date();
  var eventSource = new Timeline.DefaultEventSource();
  var edateArray = [today.getFullYear(), today.getMonth() + 1, today.getDate()];
  var eendArray =  [today.getFullYear(), today.getMonth() + 1, today.getDate() + 3];
  var etime = today.getHours() + ":" + today.getMinutes();
  var e = new Event(edateArray, etime, eendArray, etime, "testEventSummary", null, 3);
  var queryEvents = [e];
  var bandInfos = [
    Timeline.createBandInfo({
	eventSource:    eventSource,
        date:           today, //"Jun 28 2006 00:00:00 GMT",
        width:          "40%", 
        intervalUnit:   Timeline.DateTime.DAY, 
        intervalPixels: 100
    }),
    Timeline.createBandInfo({
        eventSource:    eventSource,
        date:           today, //"Jun 28 2006 00:00:00 GMT",
        width:          "30%", 
        intervalUnit:   Timeline.DateTime.MONTH, 
        intervalPixels: 100
    }),
    // track markings condensed
    Timeline.createBandInfo({
        showEventText:  false,
        trackHeight:    0.5,
        trackGap:       0.2,
        eventSource:    eventSource,
        date:           today, //"Jun 28 2006 00:00:00 GMT",
        width:          "20%", 
        intervalUnit:   Timeline.DateTime.YEAR, 
        intervalPixels: 200
    })
  ];
  bandInfos[1].syncWith = 0;
  bandInfos[2].syncWith = 1;

  bandInfos[1].highlight = true;
  bandInfos[2].highlight = true;

  // make sure layout lines up
  bandInfos[1].eventPainter.setLayout(bandInfos[0].eventPainter.getLayout());
  bandInfos[2].eventPainter.setLayout(bandInfos[0].eventPainter.getLayout());
  eventSource.loadQueryEvents(queryEvents);
  var tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);

}

var resizeTimerID = null;

function onResize(){
    /*    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
	}*/
}
</script>
    </div>
  </body>
</html>